/*--------head------------*/
.head {
    padding: 20px 0;
    color: #fff;
  }
  .logo h1 {
    font-size: 35px;
    font-weight: 900;
  }
  .head .icon {
    margin-left: 10px;
  }
  .logo img {
    width: 100px;
  }
  /*--------head------------*/
  /*--------header------------*/
  header {
    /* background-color: rgba(255, 255, 255, 0.2); */
    margin: 0 30px;
  }
  header .nav {
    display: flex !important;
  }
  header li {
    margin-right: 40px;
  }
  header ul {
    padding: 30px 20px;
  }
  header ul li a {
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
  }
  /* header ul li a:hover {
    color: #1eb2a6;
  } */
  /* .start {
    background-color: #1eb2a6;
    padding: 30px 70px;
    color: #fff;
    clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
  } */
  .start {
    padding: 30px 28px;
  }
  .icon {
    margin: 4px;
}
  .toggle {
    display: none;
  }
  /*--------header------------*/
  @media screen and (max-width: 991px) {
    .start {
      clip-path: none;
    }
    header {
      /* margin: 0;
      background-color: #1eb2a6;
      position: relative; */
      background: #755d42ad;
      backdrop-filter: blur(10px);
      box-shadow: 0px 0px 20px 0px #755d42;
      position: fixed;
      top: 0;
      width: 100%;
      margin: 0;
      z-index: 10;
    }
    header ul.flexSB {
      display: none;
    }
    header ul li {
      margin-bottom: 20px;
    }
    .toggle {
      display: block;
      background: none;
      color: #fff;
      font-size: 30px;
      position: absolute;
      right: 0;
      top: -20px;
      box-shadow: none !important;


    }
    .mobile-nav {
      position: absolute;
      top: 0vh;
      left: 0;
      width: 100%;
      background-color: #f6921e;
    }
    .flexSB.header {
      padding: 0 9px;
      align-items: center;
      display: flex;
      justify-content: normal;
  }
  .logo img {
    width: 58px;
    padding-top: 6px;
}
.start {
  padding: 15px 28px;
}
  }
  
  /**************************/

.icon {
  color: #F6921E;
}
.icon:hover {
  background-color: #F6921E;
}
header ul li a:hover {
  color: #F6921E;
}