
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}
/*------------global-----------*/
.container {
  max-width: 85%;
  margin: auto;
}
.flexSB {
  display: flex;
  justify-content: space-between;
}
.icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  /* color: #1eb2a6; */
  transition: 0.5s;
}
.icon:hover {
  cursor: pointer;
  /* background-color: #1eb2a6; */
  color: #fff;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.row {
  width: 50%;
}
button {
  padding: 17px 30px;
  background-color: #fff;
  color: #F6921E;
  font-weight: 600;
  border: none;
  margin: 30px 10px 0 0;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 24px 36px -11px rgb(0 0 0 / 9%);
  transition: 0.5s;
}
button i {
  margin-left: 20px;
}
button:hover {
  box-shadow: none;
}
.primary-btn {
  background-color: #F6921E;
  color: #fff;
}

/*------------global-----------*/
#heading {
  text-align: center;
  padding: 40px 0;
}
#heading h3 {
  font-weight: 600;
  letter-spacing: 1px;
  /* color: #1eb2a6; */
  text-transform: uppercase;
}
#heading h1 {
  font-size: 35px;
  margin: 20px 0;
  text-transform: capitalize;
}
p {
  line-height: 30px;
  font-size: 18px;
}

.back {
  background-image: url("../public/images/back.webp"); 
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  padding-top: 30%;
  padding-right: 50px;
  color: #fff;
  text-align: center;
}
.back h1 {
  font-size: 100px;
  font-weight: 400;
}
.back h2 {
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
}
.margin {
  /* margin-top: 40.3%; */
  margin-top: 60.3%;
}
@media (min-width: 992px){
  .margin {
    margin-top: 40.3%;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.flex {
  display: flex;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.outline-btn {
  margin: 0;
  box-shadow: none;
  border: 2px solid #F6921E;
  width: 100%;
  transition: 0.5s;
}
.outline-btn:hover {
  background-color: #F6921E;
  color: #fff;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
.padding {
  padding: 80px 0;
}
.shadow {
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .grid2,
  .grid3,
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .back {
    background-position: 50%;
    height: 80vh;
    padding-top: 50%;
    padding-right: 0;
}
.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.back h1 {
  font-size: 80px;
  font-weight: 400;
}
.hero_header_responsive p {
  line-height: 23px;
  font-size: 14px;
}
.hero_header_responsive #heading h1 {
  font-size: 25px;
  margin: 10px 0;
}
.hero_header_responsive button {
  margin: 10px 10px 0 0;
}
}


.content.flex.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen and (max-width: 768px) {
  .aboutHome .container {
    flex-direction: column-reverse;
  }
  .aboutHome .row {
    width: 100%;
  }
  .awrapper {
    height: 50vh;
  }
  .awrapper .box {
    padding: 13px 0;
  }
  .awrapper {
    color: #f6921e;
  }

  .coursesCard .items {
  padding: 15px;
  }
  .testimonal .items {
    padding: 18px;
    transition: 0.5s;
  }
  section.blog .grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .margin {
     margin-top: 37.3%;
  }
}
@media (max-width: 550px){
.grid2{
  grid-template-columns: repeat(1, 1fr);
}
.awrapper {
  height: 90vh !important;
}
.aboutHome .right {
  padding: 0 !important;
}

#heading h1 {
  font-size: 25px;
}
.online h1 {
  line-height: 40px;
}
.hero_header_responsive.row.text-left button {
  padding: 9px 18px;
}
section.blog .grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
}
@media (max-width: 500px) {
  footer .container {
      grid-template-columns: repeat(1, 1fr) !important;
  }
  .grid2, .grid3, .grid {
    grid-template-columns: repeat(1, 1fr) !important;
}
.newletter .right, .newletter .left {
  padding-right: 0 !important;
}
.newletter .flexSB {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newletter .flexSB .row {
 width: 100%;
 margin: 10px;
}
.testimonal .items {
  padding: 15px !important;
}
.fa-bars:before, .fa-navicon:before {
  content: "\f0c9";
  font-size: smaller;
}
.toggle {
  right: -27px;

}
}
@media (max-width: 991px) and (min-width: 767px){
  .grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
}

}
.awrapper .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  height: -webkit-fill-available;
  align-content: center;
  overflow-x: auto;
  overflow-y: hidden;
}
@media (max-width: 991px){
  section.testimonal .content.grid2 {
    width: 100%;
    overflow: auto;
}
section.blog .grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
footer .container {
  grid-template-columns: repeat(3, 1fr);
}
.hprice .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.hero .container {
  padding: 20px 7px;
  background-color: #755d4261;
  border-radius: 20px;
}
}

@media (max-width: 1300px) and (min-width: 950px){
  .online .grid3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.hprice .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
section.testimonal .content.grid2 {
  width: 100%;
  overflow: auto;
}
footer .container {
  grid-template-columns: repeat(3, 1fr);
}
}

@media (max-width: 1300px) and (min-width: 550px){
  .coursesCard .text h1 {
    font-size: 23px;
    font-weight: 500;
    line-height: 32px;
    height: 20vh;
    align-content: center;
}
}
@media (max-width: 1200px) and (min-width: 767px){
  .hero .row.hero_header_responsive {
    width: 68% !important;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 450px){
  .hero_header_responsive #heading h1 {
    font-size: 20px;
    margin: 3px 0;
}
.hero .container {
  border-radius: 20px;
  width: 100% !important;
  max-width: 100%;
  margin-left: 17px;
}
.hero {
  padding-top: 30%;
}
.fa-bars:before, .fa-navicon:before {
  content: "\f0c9";
  font-size: smaller;
}
.toggle {
  right: -27px;

}
.start {
  padding: 15px 11px;
}
.icon {
  width: 35px;
  height: 35px;
  line-height: 35px;
}
}